@{
    ViewBag.Title = "Home Page";
}


<h2>Home</h2>

<p>This website is a jQuery demo.  There are two features implemented using jQuery, both of which can be seen in the left navigation area, which contains links that may be found on a hypothetical website.</p>

<p>The first feature is the highlighting of the current page in the left nav menu.  Try clicking on a few links and note that the page you're currently viewing is in a lighter shade of blue than the other links, and in bold.</p>

<p>The second use of jQuery here is an autohide feature for the left nav menu.  See the pushpin icon at the top-right corner of the left nav area.  This feature is similar to the autohide feature in Visual Studio.  Clicking the pushpin will cause it to turn sideways, indicating that autohide is enabled.  In this state, the leftnav area will appear minimized when your mouse cursor is not hovering over it.  You can disable autohide by clicking the pushpin again.  The autohide state is preserved between pages. </p>

<p>This web site is compatible with all three major browsers: Internet Explorer 11, Google Chrome 32, and Firefox 26.</p>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>